@import url(https://fonts.bunny.net/css?family=asap:800);

#logo_title {
  position: relative;
  color: #a55f22;
  font-family: "Asap", sans-serif;
  font-size: 3.6rem;
  letter-spacing: 0.6rem;
  text-rendering: optimizeLegibility;
}

#logo_title::after {
  position: absolute;
  top: -0.2rem;
  left: 0.2rem;
  content: "L'IDYLLE";
  color: #ee3134;
}

#logo_title::before {
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-50%);
  content: "Restaurant - Bar - Transats";
  font-size: 1rem;
  font-weight: 600;
  color: black;
  letter-spacing: 0.2rem;
  text-wrap: nowrap;
}
