@import url(https://fonts.bunny.net/css?family=asap:600|baloo-2:400|major-mono-display:400);

#logo_title {
  position: relative;
  color: #8b7e73;
  font-family: "Asap", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  height: fit-content;
}

#logo_title::after {
  position: absolute;
  top: -3px;
  left: 3px;
  content: "IDYLLE";
  color: #dfcab7;
  height: fit-content;
}

#logo_title::before {
  position: absolute;
  bottom: -6px;
  left: 2.5rem;
  right: auto;
  content: "CHILL OUT CLUB";
  font-size: 0.8rem;
  letter-spacing: normal;
  color: black;
}
